.update-pro{
	margin: 15px 25px;}

.update-pro button {
		padding: 13px 25px;
	background: #4d7cfe;
	color: #fff;
	border-radius: 3px;
	justify-content: center;
	width: 100%;
	border: 0;
	cursor: pointer;
}

.update-pro button:hover {
	background: #4d7cfe !important;
	color: #fff;
	transform: translateY(-2px);
	transition: all .2s linear;
}

.update-pro:hover button:before{
	display: none;
}

.update-pro button p, .update-pro button i{
	color: #fff !important;
	margin-bottom: 0px;
}

.update-pro button i{
	margin-right: 5px !important;
	font-size: 23px;
	color: #C3C5CA;
	margin-right: 15px;
	width: 25px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

.demo .btn, .demo .progress{
	margin-bottom: 15px !important;
}

.demo .form-check-label, .demo .form-radio-label{
	margin-right: 15px;
}

.demo #slider{
	margin-bottom: 15px;
}

.table-typo tbody > tr > td{
	border-color: #fafafa;
}

.table-typo tbody > tr > td:first-child{
	min-width: 200px;
	vertical-align: bottom;
}

.table-typo tbody > tr > td:first-child p{
	font-size: 14px;
	color: #333;
}

.demo-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	padding: 10px;
	transition: all .2s;
}

.demo-icon:hover{
	background-color: #f4f5f8;
	border-radius: 3px;
}

.demo-icon .icon-preview{
	font-size: 1.8rem;
	margin-right: 10px;
	line-height: 1;
	color: #333439;
}

.demo-icon .icon-class{
	font-weight: 300;
	font-size: 13px;
	color: #777;
}

.from-show-notify .form-control{
	margin-bottom: 15px;
}

.from-show-notify label{
	padding-top: 0.65rem;
}



.page-pagination {
	display: block;
	padding: 20px 0; }

.pagination-numbers {
	position: relative;
	display: block;
	padding: 0;
	text-align: center;
	font-size: 0;
	line-height: 0; }
.pagination-numbers__link {
	display: block;
	font-size: 16px;
	line-height: 26px;
	color: #B5B4B5;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 3px;
	font-weight: 400;
	padding: 7px 4px 5px;
	cursor: pointer;
	min-width: 40px;
	outline: none;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s; }
@media (max-width: 767px) {
	.pagination-numbers__link {
		line-height: 20px;
		min-width: 34px; } }
.pagination-numbers__link:hover {
	border-color: #767676;
	color: #767676; }
.pagination-numbers__link.break {
	cursor: default;
	pointer-events: none;
	background: none;
	border: 0;
	min-width: auto; }
.pagination-numbers__link.break:hover {
	color: inherit; }
.pagination-numbers__number {
	display: inline-block;
	vertical-align: middle;
	padding: 0 4px; }
.pagination-numbers__number:first-of-type {
	height: 40px; }
@media (max-width: 767px) {
	.pagination-numbers__number:first-of-type {
		height: 34px; } }
.pagination-numbers__number:first-of-type .pagination-numbers__link {
	height: 100%;
	min-width: 40px;
	border-color: transparent;
	background: none; }
@media (max-width: 767px) {
	.pagination-numbers__number:first-of-type .pagination-numbers__link {
		min-width: 34px; } }
.pagination-numbers__number:first-of-type .pagination-numbers__link:hover .pagination-numbers__arrow:before {
	opacity: 0; }
.pagination-numbers__number:first-of-type .pagination-numbers__link:hover .pagination-numbers__arrow:after {
	opacity: 1; }
.pagination-numbers__number:first-of-type .pagination-numbers__arrow:before {
	background: url(../images/ico-arrow-left_gray.svg) no-repeat;
	background-size: 100% auto; }
.pagination-numbers__number:first-of-type .pagination-numbers__arrow:after {
	background: url(../images/ico-arrow-left_blue.svg) no-repeat;
	background-size: 100% auto; }
.pagination-numbers__number:last-of-type {
	height: 40px; }
@media (max-width: 767px) {
	.pagination-numbers__number:last-of-type {
		height: 34px; } }
.pagination-numbers__number:last-of-type .pagination-numbers__link {
	height: 100%;
	min-width: 40px;
	border-color: transparent;
	background: none; }
@media (max-width: 767px) {
	.pagination-numbers__number:last-of-type .pagination-numbers__link {
		min-width: 34px; } }
.pagination-numbers__number:last-of-type .pagination-numbers__link:hover .pagination-numbers__arrow:before {
	opacity: 0; }
.pagination-numbers__number:last-of-type .pagination-numbers__link:hover .pagination-numbers__arrow:after {
	opacity: 1; }
.pagination-numbers__number:last-of-type .pagination-numbers__arrow:before {
	background: url(../images/ico-arrow-right_gray.svg) no-repeat;
	background-size: 100% auto; }
.pagination-numbers__number:last-of-type .pagination-numbers__arrow:after {
	background: url(../images/ico-arrow-right_blue.svg) no-repeat;
	background-size: 100% auto; }
.pagination-numbers__number_current .pagination-numbers__link {
	border-color: #003764;
	color: #003764; }
.pagination-numbers__number_current .pagination-numbers__link:hover {
	color: #003764; }
.pagination-numbers__number_active .pagination-numbers__link {
	cursor: default;
	pointer-events: none;
	opacity: .8; }
.pagination-numbers__number_disabled .pagination-numbers__link {
	pointer-events: none; }
.pagination-numbers__arrow {
	position: relative;
	display: block;
	height: 100%; }
.pagination-numbers__arrow:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 1; }
@media (max-width: 767px) {
	.pagination-numbers__arrow:before {
		width: 12px;
		height: 12px; } }
.pagination-numbers__arrow:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	opacity: 0; }
@media (max-width: 767px) {
	.pagination-numbers__arrow:after {
		width: 12px;
		height: 12px; } }

.page__link {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #00B2E3;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s; }
.page__link:hover {
	color: #00B2E3;
	text-decoration: none; }
.page__link._arrow {
	text-transform: none;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
	font-family: "Work Sans", sans-serif; }
.page__link._arrow:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background: url(../images/ico-arrow-down.svg) no-repeat;
	width: 12px;
	height: 12px;
	margin: -2px 0 0 6px; }
.page__link._mb {
	display: none; }
@media (max-width: 767px) {
	.page__link._mb {
		display: inline-block; } }

#save_success {
	margin-left: 25px;
	color: #04ad04;
}
.ck-content {
	min-height:300px;
}

.footer {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

